<div class="card">
  <%= link_to image_tag( recipe.image, class: :card_img ), recipe_path(recipe.id) %>
  <div class="card_summary">
    <%= link_to recipe.title, recipe_path(recipe.id), class: :card_title %>
    <%= link_to "by #{recipe.user.name}", user_path(recipe.user.id), class: :card_user %>
  </div>
</div>